# Grav Specific
accounts/*
!accounts/.*
config/security.yaml
data/*
!data/.*
plugins/*
!plugins/.*
!themes/bootstrap4/.*
themes/bootstrap4/*
bootstrap4-open-matter
localhost/*
!localhost/.*

# OS Generated
.DS_Store*
thumbs.db
Icon?
Thumbs.db
*.swp
